*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.icon ::after {
    fill: var(--GREEN, #31D0AA);
}

img {
    display: block;
}

a {
    text-decoration: none;
}

/*li {
    list-style-type: none;
}*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #434455;
    background: #FFF;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    ;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont-header-wrapper {
    display: flex;
    align-items: center;
}


.header-logo {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}


.header-logo-line {
    color: var(--NAVY-BLUE, #2E2F42);
}

.header-navigation {
    display: none;
}


/*.header-nav-list {
    color: var(#2e2f42);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}*/
/*.address-item-list {
    display: flex;
    gap: 40px;
}*/


/*.header-studio-item {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
.menu-mobile-navigation {
    padding: 24px 24px 40px 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: #FFF;
    width: 100%;
    height: 640px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.close-mobile-menu {
    width: 24px;
    height: 24px;
    position: absolute;
    stroke-width: 1px;
    background-color: #e7e9fc;
    stroke: rgba(0, 0, 0, 0.1);
    padding: 8px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-mobile-menu {}

.menu-mobile {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 168px;
}

.menu-mobile-li:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-nav {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.current {
    color: var(--OCEAN, #404BBF);
}

.mob-social-icons {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    margin-top: 48px;
}

.social-icon-li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-wrppr-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: #f4f4fd;
    border-radius: 50%;
    background-color: #4d5ae5;
}

/*.button-mobile-menu {
    display: block;
    background-color: transparent;
    height: 24px;
    width: 24px;
    margin-left: auto;
    padding: 0;
    line-height: 0;
    border: none;
}


.header-studio-item:hover,
:focus {
    color: #404bbf
}

.address-item:hover,
.address-item:focus {
    color: #404bbf
}

.current {
    color: #404bbf;
}

.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    content: '';
}

.address-link {
    background: var(--WHITE, #FFF);
}


.address-link::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address {
    display: none;
}

.address-item {
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*header end*/

/*first section*/
*/ .hero-image {
    display: block;
    background-color: #2a2a2a;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/Dark-bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-image {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg2.jpg);
    }
}

.hero-image-name {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.05em;
    width: 169px;
    margin: 0 auto;
    margin-bottom: 72px;
    text-transform: capitalize;
}

.button-hero {
    background: var(--IRIS, #4D5AE5);
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 32px;
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.button-text {
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.button:hover,
.button:focus {
    background-color: #404BBF
}*/
/*new section*/




/*seckond section*/

.strategy {
    padding: 96px 0;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-our-company {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.feature-li {
    width: 100%;
}

.wrapper-icon {
    display: none;
}

.strategy-list {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045em;
    margin-bottom: 8px;
}

.strategy-list-item {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*third section*/


.title-team {
    background: var(--CLOUD, #F4F4FD);
    padding: 96px 0;
}

.title-team-item {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.045em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.team-card {
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.team-card-name {
    padding: 32px 0;
    width: 232px;
    margin: 0 auto;
}

.team-card-list {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px
}

.team-card-list-item {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-wrapper-li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-wrppr-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: #f4f4fd;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-wrppr-icon:hover,
:focus {
    background-color: #404bbf;
}

/*.team-card-mark {
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}




.team-card-tom {
    background: url(<path-to-image>), lightgray -335.01px -22.055px / 256.162% 173.614% no-repeat;
}

.team-card-cam {
    background: url(<path-to-image>), lightgray -128.784px -0.151px / 197.563% 133.752% no-repeat;
}

.team-card-dan {
    background: url(<path-to-image>), lightgray -200px -7.128px / 251.515% 170.277% no-repeat;
}*/







.portfolio-company {
    background: #fff;
    padding: 96px 0;
}

.portfolio-name {
    margin-bottom: 72px;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-class {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-class-list {
    width: 100%;
    border: 1px solid var(--CLOUD, #F4F4FD);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.portfolio-class-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-class-list:hover .portfolio-hiden {
    transform: translateY(0%);
}



.portfolio-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.portfolio-class-list-link {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-our-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-our-list:hover {
    transform: translateY(0%);
}


.wrapper-imag-portfolio {
    position: relative;
    overflow: hidden;
}

.portfolio-hiden {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*footer*/

.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    flex-shrink: 0;
    padding: 100px 0;
}

.footer-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-line {
    color: #f4f4fd;
}

.footer-item-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.media-footer {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    margin-bottom: 16px;
}

.social-icon-lst {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 40px;
    height: 40px;
    gap: 16px;
}

.wrapp-foot {
    display: flex;
    align-items: baseline;

}

.wrapper-footer-logo {
    margin-right: 120px
}

.social-icons-foot {
    display: flex;
    gap: 16px;
}

.social-icon-lst-li {
    width: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-icon-lst-li:hover {
    background-color: #31d0aa;
}

.social-icon-lst-li:focus {
    background-color: #31d0aa;
}

.icon {
    fill: #f4f4fd;
}

.wrapper-subscribe {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.sbscrb {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.sbscrb-form {
    display: flex;
    gap: 24px;
}

.sbscrb-lbl {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    background: var(--NAVY-BLUE, #2E2F42);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 1px;
}

.subscribe-m {
    color: var(--WHITE, #FFF);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-m::placeholder {
    color: #FFF;
}

.button-sbscrb {
    height: 40PX;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    cursor: pointer;
    min-width: 165px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
}

.button-sbscrb:hover,
.button-sbscrb:focus {
    background-color: #404bbf;
}

.icon-sbscrb {
    fill: #FFF;
    margin-left: 16px;
}

.modal {
    position: fixed;

    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    ;
}

.mod-window {
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.mod-window:hover,
.mod-window:focus {
    background-color: #404bbf;
    border: none;
}

.icon-close-w {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-window:hover .icon-close-w,
.mod-window:focus .icon-close-w {
    fill: #ffffff;
}

.leav-your-contacts {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    line-height: 1.5;
    margin-bottom: 16px;

}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    line-height: 1.5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.modal-input:focus {
    border: 1px solid #4D5AE5;
}

.user-info-li {
    margin-bottom: 8px;
}

.info-abov-client {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.user-info-note {
    position: relative;
}

.icon-user-info {
    position: absolute;
    left: 16px;
    top: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-50%);
}

.modal-input:focus+.icon-user-info {
    fill: #4D5AE5;
}

.user-coment-window {
    margin-bottom: 16px;
}

.window-textarea {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 120px;
    line-height: 1.17;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
}

.window-textarea:focus {
    border-color: #4D5AE5;
}

.wrapp-window-checkbox {
    margin-bottom: 24px;
}

.user-comment-list {
    font-size: 12px;
    line-height: 1.17;
    width: 16px;
    letter-spacing: 0.48px;
    color: #8E8F99;
}

.span-comment {
    align-items: center;
    justify-content: center;
    fill: transparent;
    display: inline-flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
}

.mod-window-send {
    display: block;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-window-send:hover,
.mod-window-send:focus {
    background-color: #404bbf;
}

.mod-window-checkbox:checked+.user-comment-list .span-comment {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.checkbox-privacy {
    color: #4D5AE5;
    letter-spacing: 0.48px;
    line-height: 16px;
    text-decoration-line: underline;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}